<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Black and White</title>
    <link rel="stylesheet" href="/styles.css">

    <link rel="stylesheet" href="css/pico.min.css" />
    
</head>
<body>
    <h1>Black and White SpA</h1>
    <form action="/subir-imagen" method="POST">
        <label for="image-url">Image URL:</label>
        <input type="text" id="image-url" name="imageUrl" required>
        <input type="submit" value="Subir Imagen">
    </form>
</body>
</html>
