body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #020202;
    margin: 0;
}

form {
    background: rgb(5, 5, 5);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

input[type="imagen"] {
    padding: 10px 20px;
    border: none;
    background: #28a745;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

input[type="imagen"]:hover {
    background: #218838;
}
